@page
@model DeletePersonalDataModel
@{
ViewData["Title"] = "Delete Personal Data";
ViewData["ActivePage"] = ManageNavPages.PersonalData;
}



<div class="mt-4 rounded-lg bg-white shadow-md">
    <!-- Header -->
    <div class="rounded-t-lg bg-gradient-to-r from-gray-600 to-gray-700 p-4">
        <h2 class="text-center text-2xl font-semibold text-white">Verwijder je account</h2>
    </div>
    <!-- Body -->
    <div class="p-6">
        <form id="delete-user" method="post">
            <div>
                <!-- Validation Summary -->
                <div asp-validation-summary="ModelOnly" class="text-sm text-red-500"></div>

                <!-- Warning Message -->
                <div class="alert alert-warning" role="alert">
                    <p>
                        <strong>Het verwijderen van deze gegevens zal je account permanent verwijderen, en dit kan niet worden hersteld.</strong>
                    </p>
                </div>

                <!-- Password Field (If required) -->
                @if (Model.RequirePassword)
                {
                <div class="relative mt-4">
                    <label asp-for="Input.Password"
                           class="text-sm text-gray-500 transition-all peer-placeholder-shown:top-4 peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-focus:top-0 peer-focus:text-sm peer-focus:text-blue-500">
                        Huidig wachtwoord
                    </label>
                    <input asp-for="Input.Password" class="peer w-full rounded-md border border-gray-300 bg-gray-50 p-4 text-gray-700 shadow-sm focus:ring-blue-500 focus:border-blue-500" placeholder="Vul jouw wachtwoord in"/>
                    <span class="text-sm text-red-500" asp-validation-for="Input.Password"></span>
                </div>
                }
            </div>

            <!-- Buttons -->
            <div class="mt-4 flex flex-wrap justify-start space-x-2">
                <button type="submit" class="rounded-md bg-red-500 px-4 py-2 text-white shadow-md hover:bg-red-600 focus:outline-none focus:ring-2 focus:ring-blue-300">Verwijder account</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}